.cadastro > h1{
    margin-top: 40px;
    margin-left: 10px;
    font-weight: bold;
}
.formularios{
    margin-left: 10px;
} 
#botao{
    width: 170px;
}

@media only screen and (max-width: 575px) {
    .formularios{
        width: 95%;
        margin-left: 10px;
        margin-right: 15px;
    } 
    .botao{
        margin-top: 15px;
        padding-left: 33%;

                
    }
   }
   