.receitas{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;
  
}
.card{
    width: 30%;
    margin-right: 2%;
    float: left;
    box-sizing: border-box;
    
}
.cadastro > h1{
    margin-top: 1px;
}
@media only screen and (max-width: 705px) {
   .card{
    margin-top:15px;

   }
  }

  @media only screen and (max-width: 445px) {
    .receitas{
        display: flex;
        justify-content: center;
        align-items: center;
 
    }
   }
 